/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	text-align: center;
	padding-bottom: 0;
	color: white;
	background-image:url('../img/top-image.jpg');
}

.jumbotron h1 {
	font-size: 100pt;
	margin-bottom: 40px;
	font-family: Roboto Slab;
}

.jumbotron .jumbotron-info {
	font-size: 20pt;
	font-family: Quicksand, sans-serif;
}

.jumbotron p {
	margin-bottom: 45px;
}

.btn-lg {
	font-size: 24px;
}

ul.nav {
	font-family: Roboto Slab;
	font-size: 14px;
}