body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
}

 a {
 	text-decoration: none;
 	color: #999;
 }

header {
	background-color: #258BEF;
	width: 100%;
	height: 100vh;	
}

header .container {
	width: 80%;
	margin: 0 auto;
}

header p {
	margin: 0;
	color: white;
	letter-spacing: 5px;
	font-size: 24px;
	padding-top: 50px;
	float: left;
}

svg {
	margin-top: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translateX(-50%) translateY(-50%) scale(0.7);
}

@media (max-width: 400px) {
	svg {
		transform: translateX(-50%) translateY(-50%) scale(0.6);
	}
}

.menuButton p {
	float: right;
	font-size: 43px;
	padding-top: 40px;
}

.menuButton:hover {
	cursor: pointer;
}

.menu {
	-webkit-box-sizing: border-box;
	float: right;
	background: white;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 1px;
	margin-top: 80px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 2;
	box-shadow: 2px 2px 10px #666;
	transition: height 0.2s ease;
}

@media (max-width: 485px) {
	.menu {
		margin-top: 10px;
	}
}

.menuOpen {
	height: 124px;
}

.menu a {
	width: 100%;
	display: block;
	padding-bottom: 25px;
}

.menu a:nth-child(3) {
	padding-bottom: 10px;
}

.menu a:nth-child(1) {
	padding-top: 10px;
}