body {
	margin: 0;
	font-family: PT Sans;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

#profile {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: -50px auto 0;
	position: relative;
	z-index: 2;
}

section {
	text-align: center; 
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

section a {
	display: block;
	opacity: 0;
	padding: 25px;
	line-height: 0;
	transition: 0.2s ease;
}

section a:hover { color: #DE0482; }

section a:before, section a:after {
	content: "";
	display: inline-block;
	width: 0px;
	height: 2px;
	background: #DE0482;
	margin: 0 20px;
	position: relative;
	top: -3px;
	transition: 0.2s ease;
}

section a:first-child { -webkit-animation: fadeIn 0.3s 0.6s linear forwards; animation: fadeIn 0.3s 0.6s linear forwards; }

section a:nth-child(2) { -webkit-animation: fadeIn 0.3s 0.8s linear forwards; animation: fadeIn 0.3s 0.8s linear forwards; }

section a:nth-child(3) { -webkit-animation: fadeIn 0.3s 1s linear forwards; animation: fadeIn 0.3s 1s linear forwards; }

section a:nth-child(4) { -webkit-animation: fadeIn 0.3s 1.2s linear forwards; animation: fadeIn 0.3s 1.2s linear forwards; }

section a:hover:before, section a:hover:after { width: 30px; }

canvas { display: block; background: #28587B; }

@-webkit-keyframes fadeIn {
	to { opacity: 1; padding-top: 15px; }
}

@keyframes fadeIn {
	to { opacity: 1; padding-top: 15px; }
}
